<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Fwm_WechatSSO>
             <version>1.0.0</version>
        </Fwm_WechatSSO>
    </modules>
    
    <global>
        <models>
            <fwm_wechatsso>
                <class>Fwm_WechatSSO_Model</class>
            </fwm_wechatsso>
        </models>
        <resources>
            <fwm_wechatsso_setup>
                <setup>
                    <module>Fwm_WechatSSO</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fwm_wechatsso_setup>
        </resources>
		<blocks>
			<fwm_wechatsso>
                <class>Fwm_WechatSSO_Block</class>
            </fwm_wechatsso>
        </blocks>
        <helpers>
			<fwm_wechatsso>
                <class>Fwm_WechatSSO_Helper</class>
            </fwm_wechatsso>
        </helpers>
    </global>
    
    <frontend>
		<routers>
            <fwm_wechatsso>
                <use>standard</use>
                <args>
                    <module>Fwm_WechatSSO</module>
                    <frontName>fwm_wechatsso</frontName>
                </args>
            </fwm_wechatsso>
        </routers>
		<layout>
            <updates>
                <fwm_wechatsso module="Fwm_WechatSSO">
                    <file>fwm/wechatsso.xml</file>
                </fwm_wechatsso>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fwm_WechatSSO>
                    <files>
                        <default>Fwm_WechatSSO.csv</default>
                    </files>
                </Fwm_WechatSSO>
            </modules>
        </translate>
    </frontend>
    
    <adminhtml>
        <translate>
            <modules>
                <Fwm_WechatSSO>
                    <files>
                        <default>Fwm_WechatSSO.csv</default>
                    </files>
                </Fwm_WechatSSO>
            </modules>
        </translate>    
    </adminhtml>
</config>